--
-- PostgreSQL database dump
--

\restrict uvUkSo8lqfIo9XNgYeERuzq0ZFEvXMHntgMcXvHSxrexfz66Ea9nKJodlI4upUt

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Categories" (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public."Categories" OWNER TO postgres;

--
-- Name: Categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Categories_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Categories_id_seq" OWNER TO postgres;

--
-- Name: Categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Categories_id_seq" OWNED BY public."Categories".id;


--
-- Name: ProductCategories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProductCategories" (
    product_id integer,
    category_id integer
);


ALTER TABLE public."ProductCategories" OWNER TO postgres;

--
-- Name: Products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Products" (
    id integer NOT NULL,
    name character varying,
    price integer,
    tags jsonb,
    created_at character varying,
    description character varying
);


ALTER TABLE public."Products" OWNER TO postgres;

--
-- Name: Products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Products_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Products_id_seq" OWNER TO postgres;

--
-- Name: Products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Products_id_seq" OWNED BY public."Products".id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: Categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Categories" ALTER COLUMN id SET DEFAULT nextval('public."Categories_id_seq"'::regclass);


--
-- Name: Products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Products" ALTER COLUMN id SET DEFAULT nextval('public."Products_id_seq"'::regclass);


--
-- Data for Name: Categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Categories" (id, name) FROM stdin;
1	Hardware
2	Gaming
\.


--
-- Data for Name: ProductCategories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProductCategories" (product_id, category_id) FROM stdin;
2	1
3	1
3	2
2	2
4	2
4	1
5	1
6	2
6	1
7	1
8	1
9	1
10	1
11	1
12	1
13	1
\.


--
-- Data for Name: Products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
4edc2164a788
\.


--
-- Name: Categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Categories_id_seq"', 2, true);


--
-- Name: Products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Products_id_seq"', 13, true);


--
-- Name: Categories Categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "Categories_pkey" PRIMARY KEY (id);


--
-- Name: Products Products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "Products_pkey" PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: ix_Products_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Products_created_at" ON public."Products" USING btree (created_at);


--
-- Name: ix_Products_description; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Products_description" ON public."Products" USING btree (description);


--
-- Name: ix_Products_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Products_id" ON public."Products" USING btree (id);


--
-- Name: ix_Products_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Products_name" ON public."Products" USING btree (name);


--
-- Name: ix_Products_price; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Products_price" ON public."Products" USING btree (price);


--
-- Name: ix_Products_tags; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Products_tags" ON public."Products" USING gin (tags);


--
-- Name: ProductCategories ProductCategories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductCategories"
    ADD CONSTRAINT "ProductCategories_category_id_fkey" FOREIGN KEY (category_id) REFERENCES public."Categories"(id);


--
-- Name: ProductCategories ProductCategories_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductCategories"
    ADD CONSTRAINT "ProductCategories_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public."Products"(id);


--
-- PostgreSQL database dump complete
--

\unrestrict uvUkSo8lqfIo9XNgYeERuzq0ZFEvXMHntgMcXvHSxrexfz66Ea9nKJodlI4upUt

